.weather-image {
    margin-top: 29px;
    display: flex;
    justify-content: center;

}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
}


.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container {
    margin-top: 25px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px
}

.data {
    font-size: 34px;
    font-weight: 400;

}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-top: 10px
}